<configuration debug="false" scan="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
      <appender-ref ref="STDOUT"/>
  </root>

  <logger name="arachne.assets.pipeline" level="TRACE"/>
  <logger name="arachne.figwheel.server" level="TRACE"/>

</configuration>
