[{:arachne.module/name :org.arachne-framework/arachne-figwheel
  :arachne.module/schema arachne.figwheel/schema
  :arachne.module/configure arachne.figwheel/configure
  :arachne.module/dependencies [:org.arachne-framework/arachne-cljs]}]
